:root {
    --text-color: #ffffff;
    --card-front-color: rgb(255, 112, 212);
    --card-back-color: #ffffff;
}

body {
    background-image: url('https://media.istockphoto.com/id/624031568/pt/foto/de-rosa-glitter-textura-de-fundo-abstrato.jpg?s=1024x1024&w=is&k=20&c=hC67Yk_4g_-dQX-mP8qyR5eQnnf_o9lvsWPJrZ1tBrI='); 
    background-size: cover;
    font-family: Bai Jamjuree;
}

#container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao {
    margin: 1rem 1rem;
    height: 15rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}

.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}

.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
    background-color: rgba(0, 244, 191, 0.2);
    border: 4px solid var(--card-back-color);
}

footer {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 149);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 1.0rem;
    margin-top: 0.5rem;
}

@media (max-width: 560px) {
    
    body {
        background: url('img/bg-mobile.webp'), no-repeat cover;
    }

    .cartao {
        flex: 1 0 calc(100% - 1rem)
    }

    .cartao__conteudo h3 {
        font-size: 3vw;
    }

    .cartao__conteudo p {
        font-size: 3.8vw;
    }
}
header {
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: rgb(255, 0, 149);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 0, 149);
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}
